# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
.venv-1/

# Jupyter Notebook
.ipynb_checkpoints

# OS files
.DS_Store
Thumbs.db

# Large dataset archive folders
Matplotlib/archive/
